@use "../../../styles/variables.scss" as *;

:host {
  display: block;
  padding: 50px 0;
  section {
    background-color: $lighter-background;
    padding: 30px;
    border-radius: 15px;
  }
  .title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .buttons {
    display: flex;
    margin-top: 40px;
    row-gap: 20px;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }

  p {
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (min-width: 640px) {
  :host {
    padding: 70px 120px;
    .title {
      font-size: 40px;
    }
    .buttons {
      flex-direction: row;
    }
  }
}
