@use "../../../styles/variables.scss" as *;

:host {
  display: block;
  margin-top: 220px;

  h3 {
    font-size: 128px;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 640px) {
  :host {
    h3 {
      font-size: 48px;
    }
  }
}
