<div class="fixed-grid has-12-cols has-6-cols-mobile">
  <div class="grid is-gap-4 is-row-gap-4">
    <div class="cell is-col-span-12 is-col-span-6-mobile">
      <h3 class="lato-black">SOFT SKILLS & +</h3>
    </div>
    <div class="cell is-col-span-3 is-col-span-3-mobile">
      <app-soft-skill picto="group">
        Communication <br />
        & travail d’équipe</app-soft-skill
      >
    </div>
    <div class="cell is-col-span-3 is-col-span-3-mobile">
      <app-soft-skill picto="ideas"
        >Force de proposition<br />
        & rigueur</app-soft-skill
      >
    </div>
    <div class="cell is-col-span-3 is-col-span-3-mobile">
      <app-soft-skill picto="run"
        >Autonomie <br />& prise d’initiative</app-soft-skill
      >
    </div>
    <div class="cell is-col-span-3 is-col-span-3-mobile">
      <app-soft-skill picto="target"
        >Priorisation<br />
        & adaptabilité</app-soft-skill
      >
    </div>
    <div class="cell is-col-span-4 is-col-span-6-mobile">
      <app-interest title="Langues" picto="langages">
        <ul>
          <li><strong class="lato-black">Français :</strong> Langue natale</li>
          <li>
            <strong class="lato-black">Anglais :</strong> Niveau professionnel
          </li>
        </ul>
      </app-interest>
    </div>
    <div class="cell is-col-span-4 is-col-span-6-mobile">
      <app-interest title="Conférences et évènements" picto="events">
        <ul>
          <li>
            <strong class="lato-black">2016 :</strong> Angular attack
            (participant)
          </li>
          <li>
            <strong class="lato-black">2017 :</strong> Angular attack
            (participant)
          </li>
        </ul></app-interest
      >
    </div>
    <div class="cell is-col-span-4 is-col-span-6-mobile">
      <app-interest title="Centres d’intérêt" picto="star">
        <ul>
          <li>
            <strong class="lato-black">Tech et veille :</strong>
            Développement web, intelligence artificielle, cybersécurité,
            domotique, écologie/indépendance énergétique.
          </li>
        </ul>
      </app-interest>
    </div>
  </div>
</div>
