<div class="fixed-grid has-12-cols has-6-cols-mobile">
  <div class="grid is-gap-4 is-row-gap-4">
    <div
      class="cell is-col-span-11 is-col-start-2 is-col-span-6-mobile is-col-start-1-mobile"
    >
      <app-title title="PRENONS CONTACT..." [num]="5"></app-title>
    </div>

    <div
      class="cell is-col-span-10 is-col-start-2 is-col-span-6-mobile is-col-start-1-mobile"
    >
      <div class="stay-in-touch">
        <div class="image">
          <img src="assets/images/coffee.png" alt="" />
        </div>
        <div class="contact">
          <div class="center">
            <p class="lato-black">...ET TRAVAILLONS ENSEMBLE</p>
            <ul>
              <li><strong>Mail :</strong> douville.quentin&#64;gmail.com</li>
              <li><strong>TEL :</strong> 06 69 51 73 95</li>
              <li>
                <strong>ADRESSE :</strong> 39 avenue Jean Moulin 90110
                Rougemont-le-château | France
              </li>
            </ul>
            <a
              class="button lined"
              href="./assets/pdf/CV-quentin-douville.pdf"
              download
              >Télécharger mon CV</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
