<h4 class="trusted">ILS M’ONT FAIT <br />CONFIANCE</h4>

<div class="societies">
  <app-enterprise class="society" imageAlt="" imageName="mnt"></app-enterprise
  ><app-enterprise
    class="society"
    imageAlt=""
    imageName="logitud"
  ></app-enterprise
  ><app-enterprise
    class="society"
    imageAlt=""
    imageName="publicis"
  ></app-enterprise
  ><app-enterprise
    class="society"
    imageAlt=""
    imageName="sarenza"
  ></app-enterprise
  ><app-enterprise
    class="society"
    imageAlt=""
    imageName="saint_gobain"
  ></app-enterprise
  ><app-enterprise
    class="society"
    imageAlt=""
    imageName="veloo"
  ></app-enterprise
  ><app-enterprise
    class="society"
    imageAlt=""
    imageName="nanotera"
  ></app-enterprise>
  <div class="society">
    <a href="" class="lato-black">Travaillons<br />ensemble</a>
  </div>
</div>
