<div class="container">
  <div class="fixed-grid has-12-cols has-6-cols-mobile">
    <div class="grid is-gap-4 is-row-gap-4">
      <div class="cell is-col-span-12 is-col-span-6-mobile">
        <h4 class="trusted">ILS M'ONT FAIT <br />CONFIANCE</h4>
      </div>
      <div
        class="cell is-col-span-2 is-col-start-2 is-col-span-3-mobile is-col-start-1-mobile"
      >
        <app-enterprise imageAlt="" imageName="mnt"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-span-3-mobile">
        <app-enterprise imageAlt="" imageName="logitud"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-span-3-mobile">
        <app-enterprise imageAlt="" imageName="publicis"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-span-3-mobile">
        <app-enterprise imageAlt="" imageName="sarenza"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-span-3-mobile">
        <app-enterprise imageAlt="" imageName="saint_gobain"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-start-4 is-col-span-3-mobile">
        <app-enterprise imageAlt="" imageName="veloo"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-span-3-mobile">
        <app-enterprise imageAlt="" imageName="nanotera"></app-enterprise>
      </div>
      <div class="cell is-col-span-2 is-col-span-3-mobile">
        <a routerLink="." fragment="contact" class="work-together lato-black"
          >Travaillons<br />ensemble</a
        >
      </div>
    </div>
  </div>
</div>
