@use "../../../styles/variables.scss" as *;

:host {
  display: block;
  margin-top: 220px;

  .who-iam {
    app-title {
      margin-bottom: 70px;
    }
    .full-name {
      display: flex;
      align-items: center;
      font-size: 32px;
      margin-bottom: 20px;
      img {
        margin-right: 5px;
      }
    }
  }

  .bottomed {
    display: flex;
    align-items: end;
  }

  .experience {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 60px;

    .angle {
      position: absolute;
      width: 62px;
      height: 62px;
    }

    .angle-left {
      top: 0;
      left: 0;
      border-top: 5px solid rgba($color: #d9d9d9, $alpha: 0.2);
      border-left: 5px solid rgba($color: #d9d9d9, $alpha: 0.2);
    }

    .angle-right {
      border-bottom: 5px solid rgba($color: #d9d9d9, $alpha: 0.2);
      border-right: 5px solid rgba($color: #d9d9d9, $alpha: 0.2);
      bottom: 0;
      right: 0;
    }

    .exp {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .exp-years {
      font-size: 64px;
      margin-right: 18px;
    }

    .exp-text {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 640px) {
  :host {
    margin-top: 50px;
    .who-iam {
      margin-left: 0;
      margin-top: $padding;
    }
    .experience {
      margin-top: 50px;
    }
  }
}
