<div class="fixed-grid has-12-cols has-6-cols-mobile">
  <div class="grid is-gap-4 is-row-gap-4">
    <section
      class="who-iam cell is-col-span-5 is-col-start-3 is-col-span-6-mobile is-col-start-1-mobile"
    >
      <app-title title="Qui suis-je" [num]="1"></app-title>
      <div class="full-name lato-black">
        <img src="./assets/svg/small_quotes.svg" alt="" />Quentin Douville
      </div>
      <p class="lato-regular">
        Développeur Fullstack JavaScript senior, spécialisé en Angular, Node.js
        et microservices, avec une forte expertise en performance, scalabilité
        et UX. J’ai dirigé des projets critiques dans des environnements
        exigeants, optimisant les architectures pour garantir résilience et
        efficacité. Mon approche repose sur l’automatisation, l’optimisation et
        l’innovation technologique.
      </p>
    </section>

    <section
      class="experience lato-black cell is-col-span-3 is-col-start-9 is-col-span-4-mobile is-col-start-2-mobile"
    >
      <div class="angle angle-left"></div>
      <div class="exp exp-years">+10</div>
      <div class="exp exp-text">
        ans <br />d'experience <br />professionnelle
      </div>
      <div class="angle angle-right"></div>
    </section>
  </div>
</div>
