@use "../../../styles/variables.scss" as *;

:host {
  .interests {
    margin-top: $padding;
    display: flex;
    gap: $padding;
  }
}

@media only screen and (max-width: 640px) {
  :host {
    .interests {
      flex-direction: column;
      row-gap: $padding;
    }
  }
}
