<div class="interests">
  <app-interest title="Langues" picto="langages">
    <ul>
      <li><strong class="lato-black">Français :</strong> Langue natale</li>
      <li>
        <strong class="lato-black">Anglais :</strong> Niveau professionnel
      </li>
    </ul> </app-interest
  ><app-interest title="Conférences et évènements" picto="events">
    <ul>
      <li>
        <strong class="lato-black">2016 :</strong> Angular attack (participant)
      </li>
      <li>
        <strong class="lato-black">2017 :</strong> Angular attack (participant)
      </li>
    </ul></app-interest
  ><app-interest title="Centres d’intérêt" picto="star">
    <ul>
      <li>
        <strong class="lato-black">Tech et veille :</strong>
        Développement web, intelligence artificielle, cybersécurité, domotique,
        écologie/indépendance énergétique.
      </li>
    </ul>
  </app-interest>
</div>
