<section>
  <img src="./assets/svg/small_quotes.svg" alt="Début de citation" />
  <p class="full-name lato-regular">QUENTIN DOUVILLE</p>
  <h1 class="lato-black title-2">
    DÉVELOPPEUR / LEAD TECH<br />FULL STACK JAVASCRIPT
  </h1>
  <app-tags [tags]="['Angular', 'Node.JS']"></app-tags>
  <p class="quotes lato-regular-italic">
    "Le futur s’écrit une ligne de code à la fois."
  </p>
  <div class="buttons lato-bold">
    <a href="./assets/pdf/CV-quentin-douville.pdf" download class="button lined"
      >Télécharger mon CV</a
    >
    <a class="button filled">Travaillons ensemble</a>
  </div>
</section>
