<app-title title="Ma formation" [num]="4"></app-title>

<div class="formations">
  <section>
    <div class="header lato-black">
      <div class="start-to-end">2010<br />2013</div>
      <div class="header-content">
        <p class="sup-title">Montbéliard</p>
        <p class="title">DUT SRC</p>
      </div>
    </div>
    <div class="content">
      <p>
        Université de technologie de Belfort-Montbéliard Services & Réseaux de
        Communication
      </p>
    </div>
    <div class="footer">
      <app-tags
        bgColor="#182346"
        textColor="white"
        [tags]="['aze', 'aze', 'aze', 'aze', 'aze']"
      ></app-tags>
    </div>
  </section>
  <section>
    <div class="header lato-black">
      <div class="start-to-end">2010<br />2013</div>
      <div class="header-content">
        <p class="sup-title">Montbéliard</p>
        <p class="title">DUT SRC</p>
      </div>
    </div>
    <div class="content">
      <p>
        Université de technologie de Belfort-Montbéliard Services & Réseaux de
        Communication
      </p>
    </div>
    <div class="footer">
      <app-tags
        bgColor="#182346"
        textColor="white"
        [tags]="['aze', 'aze', 'aze', 'aze', 'aze']"
      ></app-tags>
    </div>
  </section>
  <section>
    <div class="header lato-black">
      <div class="start-to-end">2010<br />2013</div>
      <div class="header-content">
        <p class="sup-title">Montbéliard</p>
        <p class="title">DUT SRC</p>
      </div>
    </div>
    <div class="content">
      <p>
        Université de technologie de Belfort-Montbéliard Services & Réseaux de
        Communication
      </p>
    </div>
    <div class="footer">
      <app-tags
        bgColor="#182346"
        textColor="white"
        [tags]="['aze', 'aze', 'aze', 'aze', 'aze']"
      ></app-tags>
    </div>
  </section>
</div>
