@use "../../../styles/variables.scss" as *;

:host {
  flex-direction: column;
  width: auto;
  position: absolute;
  left: 45px;
  top: 45px;
  z-index: 200;

  a {
    display: flex;
  }

  ul {
    margin-top: 50px;
    flex-direction: column;
  }
  li {
    display: flex;
    &:hover {
      color: white;
    }
  }
  li + li {
    margin-top: $padding;
  }
}

@media only screen and (max-width: 640px) {
  :host {
    display: none;
    visibility: hidden;
  }
}
