@use "reset" as *;
@use "variables" as *;
@use "fonts" as *;
@use "responsive" as *;

@use "./../../node_modules/bulma/sass/layout/container.scss" as *;
@use "./../../node_modules/bulma/sass/grid/grid.scss" as *;
@use "./../../node_modules/bulma/sass/helpers/gap.scss" as *;

html {
  background-color: $background;
  scroll-behavior: smooth;
}

html,
body {
  color: $white;
}

.button {
  cursor: pointer;
  border: none;
  display: flex;
  border-radius: 8px;
  font-size: 16px;
  height: 42px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  &.lined {
    background: none;
    border: 1px solid $blue;
    color: $blue;
  }
  &.filled {
    background: $blue;
    color: $white;
  }
}

strong {
  font-weight: 900;
}

.container {
  // border: 1px solid red;
  padding: 0;
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
