$primary: #016db3;
$secondary: #ffc46b;

$accent: red;
$accent: red;

$white: #e6e4e7;
$black: #1a181b;
$red: red;
$orange: orange;
$green: green;
$grey: grey;
$blue: #019afe;

$xxxs: 4px;
$xxs: 8px;
$xs: 12px;
$s: 16px;
$m: 32px;
$l: 40px;
$xl: 48px;
$xxl: 56px;
$xxxl: 64px;
$ss: 96px;
$sm: 160px;
$sl: 200px;
