<section class="infos">
  <div class="telephone">
    <img src="./assets/svg/telephone.svg" alt="Contacter par téléphone" />
    <a href="tel:+33669517395">06 69 51 73 95</a>
  </div>
  <ul>
    <li>
      <a href="mailto:douville.quentin@walrus-labs.fr" target="_blank"
        ><img src="./assets/svg/mail.svg" alt="Contacter par email"
      /></a>
    </li>
    <li>
      <a href="https://gitlab.com/douville.quentin" target="_blank"
        ><img src="./assets/svg/gitlab.svg" alt="Voir mon gitlab"
      /></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/quentin-douville/" target="_blank"
        ><img src="./assets/svg/linkedin.svg" alt="Voir mon profil linkedIn"
      /></a>
    </li>
    <li>
      <a href="https://github.com/Furilax4577" target="_blank"
        ><img src="./assets/svg/github.svg" alt="Voir mon github"
      /></a>
    </li>
  </ul>
</section>

<a
  routerLink="."
  fragment="accueil"
  class="scroll-top"
  (click)="trackEvent('right_menu', 'scroll_top')"
  ><img src="./assets/svg/bouton_fleche_haut.svg" alt="" />
</a>
