@use "../../../styles/variables.scss" as *;

:host {
  .header {
    padding: 20px 30px;
    z-index: 500;
    position: fixed;
    background-color: rgba($color: $lighter-background, $alpha: 0.5);
    width: 100%;
    align-items: center;
    display: flex;
  }

  .burger-toggle {
    width: 32px;
    height: 32px;
  }

  .burger-close {
    position: absolute;
    right: $padding;
    top: 24px;
  }

  .burger-open {
    margin-left: auto;
  }

  nav {
    background-color: $background;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: fixed;
    z-index: 1000;
    background: $background;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-link {
    margin-bottom: 60px;
  }

  .pages {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    li {
      display: flex;
      justify-content: center;
    }
  }

  .phone {
    padding: 30px;
    margin: 30px;
    border-top: 2px solid rgba($color: $white, $alpha: 0.2);
    border-bottom: 2px solid rgba($color: $white, $alpha: 0.2);
    display: flex;
    img {
      margin-right: 15px;
    }
  }

  .links {
    display: flex;
    gap: 30px;
    img {
      height: 30px;
      width: 30px;
    }
  }

  &.active {
    nav {
      display: flex;
    }
  }
}

@media only screen and (min-width: 640px) {
  :host {
    display: none;
  }
}
