<div class="header">
  <a href="/"
    ><img src="./assets/svg/walrus-labs.svg" alt="Logo de Walrus Labs"
  /></a>
  <img
    [src]="getImagePath()"
    alt="Contacter par téléphone"
    class="burger-toggle burger-open"
    (click)="toggleActive()"
  />
</div>

<nav class="lato-black">
  <img
    [src]="getImagePath()"
    alt="Contacter par téléphone"
    class="burger-toggle burger-close"
    (click)="toggleActive()"
  />
  <a href="/" class="home-link"
    ><img src="./assets/svg/walrus-labs.svg" alt="Logo de Walrus Labs"
  /></a>
  <ul class="pages">
    <li><a [routerLink]="[]" fragment="#apropos">A propos.</a></li>
    <li><a [routerLink]="[]" fragment="#competences">Compétences.</a></li>
    <li><a [routerLink]="[]" fragment="#experiences">Expériences.</a></li>
    <li><a [routerLink]="[]" fragment="#formation">Formation.</a></li>
    <li><a [routerLink]="[]" fragment="#contact">Contact.</a></li>
  </ul>
  <div class="phone">
    <img src="./assets/svg/telephone.svg" alt="Contacter par téléphone" />
    <a href="tel:+33669517395">06 69 51 73 95</a>
  </div>
  <ul class="links">
    <li>
      <a href="" target="_blank"
        ><img src="./assets/svg/mail.svg" alt="Contacter par email"
      /></a>
    </li>
    <li>
      <a href="" target="_blank"
        ><img src="./assets/svg/gitlab.svg" alt="Voir mon gitlab"
      /></a>
    </li>
    <li>
      <a href="" target="_blank"
        ><img src="./assets/svg/linkedin.svg" alt="Voir mon profil linkedIn"
      /></a>
    </li>
    <li>
      <a href="" target="_blank"
        ><img src="./assets/svg/github.svg" alt="Voir mon github"
      /></a>
    </li>
  </ul>
</nav>
