:host {
  z-index: 1000;

  left: 0;
  padding: 45px;
  position: fixed;
  top: 0;
  height: 100%;
  padding-top: 45px;

  ul {
    font-size: 12px;
    margin-top: 45px;
    li + li {
      margin-top: 25px;
    }
  }
}
