@use "../styles/variables.scss" as *;

:host {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2800px;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    .gradient {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(52, 174, 254, 0) 0%, #019afe 100%);
      z-index: 0;
      opacity: 0.2;
    }

    .photo,
    .w {
      position: absolute;
      top: 0;
      max-width: 100%;
      height: auto;
      z-index: 1;
    }

    .photo {
      left: 50%;
      transform: translate(-25%, 0);
    }
    .w {
      left: 50%;
      transform: translate(-83%, -5%);
    }
  }
}

@media only screen and (max-width: 640px) {
}
