@use "../styles/variables.scss" as *;

:host {
  .container {
    padding-top: 0;
  }
}

@media only screen and (max-width: 640px) {
  :host {
    .container {
      overflow-x: hidden;
      padding-top: 80px;
    }
  }
}
