// @use "../styles/variables.scss" as *;

:host {
  .container {
    padding-top: 0;
  }

  .main {
    padding: 30px;
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media only screen and (max-width: 640px) {
  :host {
    .container {
      overflow-x: hidden;
      padding-top: 80px;
    }
    .main {
      padding: 0 30px 30px 30px;
    }
  }
}

// // :host {
// //   display: flex;
// //   width: 100%;

// //   .header-background {
// //     position: absolute;
// //     top: 0;
// //     left: 0;
// //     right: 0;
// //     display: flex;
// //     max-height: max-content;

// //     .header-background-split {
// //       flex: 1;
// //       min-width: 0;
// //       position: relative;
// //     }
// //   }

// //   .gradient {
// //     left: 0;
// //     right: 0;
// //     z-index: 2;
// //     height: 2800px;
// //     position: absolute;
// //     // width: 100vw;
// //     opacity: 0.2;
// //     background: linear-gradient(0deg, rgba(52, 174, 254, 0) 0%, #019afe 100%);
// //   }

// //   .photography {
// //     left: 0;
// //     z-index: 1;
// //     margin-left: -320px;
// //     position: absolute;
// //     width: 1280px;
// //     height: 1280px;
// //     background-blend-mode: lighten;
// //   }

// //   .main {
// //     width: vw;
// //     display: flex;
// //     flex-direction: column;
// //     z-index: 100;
// //     position: relative;
// //     padding: 0;
// //     margin: 0;
// //     padding-bottom: 80px;
// //
// //   }

// // }

// // .walrus {
// //   position: absolute;
// //   right: 0;
// //   margin-top: -100px;
// //   margin-right: -250px;
// //   width: 2111px;
// //   height: 1420px;
// //   z-index: 3;
// //   background-size: contain;
// //   background-repeat: no-repeat;
// //   background-position: top;
// //   background-attachment: scroll;
// // }

// .fixed {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 400px;
// }

// .header-background {
//   display: flex;
// }

// .splitted {
// }

// .left {
//   flex: 1;
// }

// .right {
//   flex: 1;
// }

// .main {
//   display: flex;
//   justify-content: center;
//   padding-left: 160px;
//   padding-right: 130px;
// }

// .centered {
//   width: 100%;
//   max-width: 1600px;
//   // border: 1px solid blue;
// }

// .line {
//   width: 100%;
// }

// .grid {
//   display: grid;
//   column-gap: 40px;
//   grid-template-columns: repeat(12, 1fr);
//   margin: 0 auto;
// }

// .trust {
//   padding: 150px 0;
//   background-color: #04122d;
//   .grid {
//     gap: 40px;
//   }
// }

// .trusted {
//   font-size: 128px;
//   opacity: 0.2;
//   text-align: center;
//   width: 100%;
// }

// .work-together {
//   display: flex;
//   background: #019afe;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }

// .skills {
//   margin-top: 180px;
//   margin-bottom: 250px;
// }
