<aside class="lato-black">
  <div class="telephone">
    <img src="./images/telephone.svg" alt="Contacter par email" />
    <a href="tel:+33669517395">06 69 51 73 95</a>
  </div>
  <ul>
    <li>
      <a href="" target="_blank"
        ><img src="./images/mail.svg" alt="Contacter par email"
      /></a>
    </li>
    <!-- <li>
      <a href="" target="_blank"
        ><img src="./images/slack.svg" alt="Contacter via slack"
      /></a>
    </li> -->
    <li>
      <a href="" target="_blank"
        ><img src="./images/gitlab.svg" alt="Voir mon gitlab"
      /></a>
    </li>
    <li>
      <a href="" target="_blank"
        ><img src="./images/linkedin.svg" alt="Voir mon profil linkedIn"
      /></a>
    </li>
    <li>
      <a href="" target="_blank"
        ><img src="./images/github.svg" alt="Voir mon github"
      /></a>
    </li>
  </ul>
</aside>
