<div class="container">
  <div class="fixed-grid has-12-cols has-6-cols-mobile">
    <div class="grid is-gap-4 is-row-gap-4">
      <div
        class="cell is-col-span-11 is-col-start-2 is-col-span-6-mobile is-col-start-1-mobile"
      >
        <app-title
          title="Mes compétences"
          id="competences"
          [num]="2"
        ></app-title>
      </div>
      <div class="cell is-col-span-12 is-col-start-1 is-col-span-6-mobile">
        <app-tags
          bgColor="#182346"
          textColor="white"
          [tags]="competences"
          [centering]="true"
        ></app-tags>
      </div>
    </div>
  </div>
</div>
