:host {
  margin-top: 70px;
  display: grid;
  width: 100%;
  column-gap: 40px;
  grid-template-columns: repeat(11, 1fr);

  .list {
    grid-column: 1 / span 4;
    ul {
      li {
        border: 1px solid #019afe;
        text-transform: uppercase;
        height: 100px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.is-selected,
        &:hover.is-selected {
          border: none;
          background: #019afe;
        }
        &:hover {
          cursor: pointer;
          background: #182346;
        }
      }
      li + li {
        margin-top: 20px;
      }
    }
  }

  .groups {
    grid-column: 5 / span 7;
    border: 1px solid #182346;
    padding: 40px;
  }

  .group {
    h5 {
      font-size: 20px;
    }
  }
}
