<div class="experience">
  <div class="container">
    <!-- <div class="image">
      <img src="images/experience_saint_gobain.png" alt="" />
      div.
    </div> -->
    <div class="header">
      <app-centering>
        <app-enterprise imageAlt="" imageName="logitud"></app-enterprise>
      </app-centering>
    </div>
    <div class="content">
      <div class="subtitle">Jan 2023 - Oct 2024 | Saint-gobain</div>
      <h4 class="lato-black">Développeur angular</h4>
      <ul>
        <li>
          Développement de la V2 d’un intranet international pour la gestion des
          cahiers des charges de pièces automobiles.
        </li>
        <li>
          Surcharge de composants Angular Material pour une personnalisation
          avancée.
        </li>
        <li>
          Optimisation des performances : lazy loading, pagination, bonnes
          pratiques de subscribe/unsubscribe, réduction du bundle initial.
        </li>
        <li>
          Découpage modulaire (intégration de composants standalone), mises à
          jour progressives d’Angular.
        </li>
        <li>Méthodo SCRUM, respect des deadlines, UX optimisée avec Figma.</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <app-tags [tags]="['Angular', 'Node.JS']"></app-tags>
  </div>
</div>
